<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="shortcut icon"
      href="img/favicons/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="icon"
      sizes="16x16"
      href="img/favicons/favicon-16x16.png"
      type="image/png"
    />
    <link
      rel="icon"
      sizes="32x32"
      href="img/favicons/favicon-32x32.png"
      type="image/png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      href="img/favicons/apple-touch-icon-precomposed.png"
    />
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="img/favicons/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="img/favicons/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="img/favicons/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="img/favicons/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="img/favicons/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="img/favicons/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="img/favicons/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="img/favicons/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="167x167"
      href="img/favicons/apple-touch-icon-167x167.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicons/apple-touch-icon-180x180.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="img/favicons/apple-touch-icon-1024x1024.png"
    />
    <link rel="stylesheet" href="styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    @@include("../blocks/modules/header/header.html")
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
    <header class="header">
      <div class="header-blocks"></div>
      <nav class="header-blocks">
        <a href="" class="nav-links">Home</a>
        <a href="" class="nav-links">Plans</a>
        <a href="" class="nav-links">Bank Accounts</a>
        <a href="" class="nav-links">Support</a>
        <img src="../img/globe-solid.svg" alt="icon" class="icon" />
      </nav>
      <div class="header-blocks">
        <a href="" class="online-banking"
          >Online Banking
          <img src="../img/enter.svg" alt="enter" class="online-icon"
        /></a>
      </div>
    </header>
    <section id="main">
      <div class="main-left">
        <h1 class="main-heading">
          An everyday free bank account from Bravo Capital Bank
        </h1>
        <p class="main-text">
          The N26 standard account comes with everything you need to spend, save
          and keep track of your money, all under one app.
        </p>
        <a href="" class="open-account">Open Bank Account</a>
      </div>
      <div class="main-right">
        <img src="../img/photo.png" alt="image" class="main-img" />
      </div>
    </section>
    <section id="section2">
      <div class="card">
        <img src="../img/credit-card.png" alt="card" class="card-img" />
      </div>
      <div class="info">
        <h2 class="card-heading">An account with Mastercard as standard</h2>
        <p class="card-text">
          Each Bravo Capital Bank account comes with a free Mastercard debit
          card, accepted worldwide. Use the app to set daily spending limits,
          lock or unlock your card and reset your PIN anywhere in the world,
          24/7.
        </p>
      </div>
    </section>
    <section id="section3">
      <h2 class="secure-heading">Secure online banking features</h2>
      <div class="row">
        <div class="info-block">
          <div class="info-block-row">
            <img src="../img/credit-card.svg" alt="icon" class="info-icon" />
            <h6 class="info-heading">3D Secure</h6>
          </div>
          <p class="info-block-text">
            3D Secure (3DS) from Mastercard Secure Code is an extra layer of
            security that helps prevent fraud when making payments online with
            your Bravo Capital Bank account.
          </p>
        </div>

        <div class="info-block">
          <div class="info-block-row">
            <img src="../img/credit-card.svg" alt="icon" class="info-icon" />
            <h6 class="info-heading">3D Secure</h6>
          </div>
          <p class="info-block-text">
            3D Secure (3DS) from Mastercard Secure Code is an extra layer of
            security that helps prevent fraud when making payments online with
            your Bravo Capital Bank account.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="info-block">
          <div class="info-block-row">
            <img src="../img/credit-card.svg" alt="icon" class="info-icon" />
            <h6 class="info-heading">3D Secure</h6>
          </div>
          <p class="info-block-text">
            3D Secure (3DS) from Mastercard Secure Code is an extra layer of
            security that helps prevent fraud when making payments online with
            your Bravo Capital Bank account.
          </p>
        </div>
        <div class="info-block">
          <div class="info-block-row">
            <img src="../img/credit-card.svg" alt="icon" class="info-icon" />
            <h6 class="info-heading">3D Secure</h6>
          </div>
          <p class="info-block-text">
            3D Secure (3DS) from Mastercard Secure Code is an extra layer of
            security that helps prevent fraud when making payments online with
            your Bravo Capital Bank account.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
